# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

In [1]:
import pandas as pd
import numpy as np
import math
import json
import matplotlib.pyplot as plt

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [2]:
portfolio = portfolio[portfolio.columns[::-1]]

In [3]:
portfolio

,id,offer_type,duration,difficulty,channels,reward
0,ae264e3637204a6fb9bb56bc8210ddfd,bogo,7,10,"[email, mobile, social]",10
1,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,5,10,"[web, email, mobile, social]",10
2,3f207df678b143eea3cee63160fa8bed,informational,4,0,"[web, email, mobile]",0
3,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,7,5,"[web, email, mobile]",5
4,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,10,20,"[web, email]",5
5,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,7,7,"[web, email, mobile, social]",3
6,fafdcd668e3743c1bb461111dcafc2a4,discount,10,10,"[web, email, mobile, social]",2
7,5a8bc65990b245e5a138643cd4eb9837,informational,3,0,"[email, mobile, social]",0
8,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,5,"[web, email, mobile, social]",5
9,2906b810c7d4411798c6938adc9daaa5,discount,7,10,"[web, email, mobile]",2

In [4]:
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [5]:
transcript

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0
...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,{'amount': 1.5899999999999999},714
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,{'amount': 9.53},714
306531,a00058cf10334a308c68e7631c529907,transaction,{'amount': 3.61},714
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,{'amount': 3.5300000000000002},714
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,{'amount': 4.05},714

In [6]:
transcript_no_dict = transcript.copy()

In [ ]:
# clean the transcript data by unpacking the dictionary consisting column:
Idx=transcript_no_dict.set_index(['person','event', 'time']).value.apply(pd.Series).stack().index
transcript_no_dict = pd.DataFrame(transcript_no_dict.
                                  set_index(['person','event', 'time']).
                                  value.apply(pd.Series).stack().
                                  values.tolist(),index=Idx).reset_index()

# reorder the columns:
transcript_no_dict = transcript_no_dict[['person', 'event','level_3', 0, 'time']]
transcript_no_dict.rename(columns={ "level_3": "tag", 0: "id_amount"}, inplace=True)
transcript_no_dict['tag'] = transcript_no_dict['tag'].str.replace(' ', '_')

In [ ]:
# creating a separate transaction data for calculating sum of transactions for each unique user:
transcript_transactions = transcript_no_dict[transcript_no_dict['event']=='transaction']
transcript_transactions.rename(columns={ "id_amount": "amount"}, inplace=True)
transcript_transactions['amount'] = transcript_transactions['amount'].astype(float)
transaction_df = (transcript_transactions.groupby('person')['amount'].sum()).to_frame().reset_index()

In [ ]:
transaction_df

In [ ]:
transcript_no_dict

In [ ]:
transcript_offer = transcript_no_dict[transcript_no_dict['event']!='transaction']
transcript_offer

In [ ]:
transcript_offer.groupby(['person', 'event'])['event'].count().unstack()

In [ ]:
transcript_offer.groupby(['person', 'event'])['time'].mean().unstack()

In [ ]:
transcript_offer.groupby(['id_amount', 'tag'])['tag'].count().unstack()